@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&family=Saira+Extra+Condensed:wght@800&family=Shadows+Into+Light&display=swap');
body {
  margin: 0;
  font-family: -apple-system, 'Saira Condensed', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
font-family: 'Saira Condensed', sans-serif;
font-family: 'Saira Extra Condensed', sans-serif;
font-family: 'Shadows Into Light', cursive;
}
